.contact-form {
  max-width: 1900px;
  form{
    padding: 1.5rem;
    margin: 1.5rem auto;
    h3 {
      padding-top: 1rem;
      color: $text-color;
    }
    .send-btn {
      background: $text-color;
    }
  } 
}