.box-shadow {
  transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -moz-transition: all 500ms linear; }
  .box-shadow:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(80, 80, 80, 0.75);
    box-shadow: 0px 0px 7px rgba(80, 80, 80, 0.75); }

body {
  overflow-x: hidden; }

.header {
  max-width: 1900px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header .avatar {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 15px rgba(32, 32, 32, 0.7);
    box-shadow: 1px 1px 15px rgba(32, 32, 32, 0.7); }
    .header .avatar img {
      width: 100%; }
  .header h4 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.7); }
  .header .contact-info {
    width: 100%; }
    .header .contact-info .contact-e {
      color: #fff;
      width: 75%;
      margin: 0 auto;
      text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.7);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .contact-info .contact-e .col {
        width: auto;
        padding: 0;
        margin: 0 1.7rem 0 0; }
        .header .contact-info .contact-e .col h6 {
          font-size: 1.3rem; }
  .header .social-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .header .social-cont .social-icon {
      margin: 20px 15px;
      color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      -webkit-box-shadow: 1px 1px 7px black;
      box-shadow: 1px 1px 7px black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 1.5rem;
      transition: all 250ms linear;
      -webkit-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      -moz-transition: all 250ms linear; }
      .header .social-cont .social-icon:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

@media (max-width: 715px) {
  .header h4 {
    font-size: 2.7rem; }
  .header .contact-info .contact-e {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

/*Gallery*/
.garllery {
  max-width: 1900px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;
  background-color: #05132F;
  padding: 0;
  margin: 0; }
  .garllery .img-cnt {
    height: 100%; }
    .garllery .img-cnt img {
      width: 100%;
      height: 100%;
      -webkit-transition: transform 250ms linear;
      -moz-transition: transform 250ms linear;
      -o-transition: transform 250ms linear;
      -webkit-transition: -webkit-transform 250ms linear;
      transition: -webkit-transform 250ms linear;
      transition: transform 250ms linear;
      transition: transform 250ms linear, -webkit-transform 250ms linear; }
    .garllery .img-cnt :hover {
      -ms-transform: scale(1.05);
      /* IE 9 */
      -webkit-transform: scale(1.05);
      /* Safari */
      transform: scale(1.05);
      -webkit-box-shadow: 3px 3px 7px #000;
      box-shadow: 3px 3px 7px #000; }

.contact-form {
  max-width: 1900px; }
  .contact-form form {
    padding: 1.5rem;
    margin: 1.5rem auto; }
    .contact-form form h3 {
      padding-top: 1rem;
      color: #4b4b4b; }
    .contact-form form .send-btn {
      background: #4b4b4b; }

.about {
  max-width: 1900px;
  padding: 3rem 0;
  margin: 1.5rem auto auto auto; }
  .about .about-wrapper {
    padding: 2rem; }
    .about .about-wrapper .img-cont {
      width: 100%;
      height: auto; }
      .about .about-wrapper .img-cont img {
        border-radius: 0.5rem;
        -webkit-box-shadow: 3px 3px 5px #4b4b4b;
        box-shadow: 3px 3px 5px #4b4b4b; }
    .about .about-wrapper h3 {
      color: #4b4b4b; }
    .about .about-wrapper p {
      text-align: justify; }

@media (max-width: 1199px) {
  .about {
    padding: 2.5rem 0; }
    .about .about-wrapper .img-cont {
      width: 60%;
      margin: 0 auto; }
    .about .about-wrapper h3 {
      margin-top: 1.5rem;
      text-align: center; } }

@media (max-width: 600px) {
  .about .about-wrapper .img-cont {
    width: 100%; }
  .about .about-wrapper p {
    font-size: 1.1rem; } }

.services {
  max-width: 1900px; }
  .services h3 {
    color: #4b4b4b;
    margin-bottom: 2rem; }
  .services .service {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 0.5rem;
    max-width: 400px; }
    .services .service .img-cont {
      width: 100%;
      height: 230px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 0.5rem; }
      .services .service .img-cont img {
        width: 100%;
        border-radius: 0.5rem; }
    .services .service h5 {
      padding-left: 2rem;
      margin-top: -50px;
      color: #dbdbdb;
      font-weight: 500;
      font-size: 1.9rem;
      text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.9); }
    .services .service p {
      text-align: justify;
      margin-top: 40px; }

@media (max-width: 400px) {
  .services .service h5 {
    margin-top: -75px; } }

@media (max-width: 350px) {
  .services .service h5 {
    margin-top: -100px; } }

.testimonials h3 {
  color: #4b4b4b;
  margin-top: 5rem; }

.testimonials .slides {
  background: transparent; }
  .testimonials .slides .caption .testimonial {
    color: goldenrod;
    text-shadow: 0px 0px 7px #ffff00; }
    .testimonials .slides .caption .testimonial p {
      color: #4b4b4b;
      font-size: 1.2rem;
      text-shadow: none; }
    .testimonials .slides .caption .testimonial .testimonial-img {
      margin: 1rem auto;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      -webkit-box-shadow: 2px 2px 5px #333;
      box-shadow: 2px 2px 5px #333; }
    .testimonials .slides .caption .testimonial img {
      width: 100%; }
    .testimonials .slides .caption .testimonial h5 {
      color: #4b4b4b;
      font-size: 1.9rem;
      text-shadow: none; }

.indicators {
  margin: 0 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #333; }

@media (max-width: 490px) {
  .testimonials .slides .caption .testimonial p {
    font-size: 1rem; } }

.menu-btn {
  background: #4b4b4b; }
  .menu-btn:hover {
    background: #3e3e3e; }
